@model Remontyash.Models.Order

@{
    ViewData["Title"] = "Завершение заказа";
}
<div class="page">
    <div class="title-page">
        <div class="flex">
            <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
            <h2>Завершение заказа</h2>
        </div>
    </div>
    <div class="body-page">
        <form asp-action="Edit">
            <input type="hidden" asp-for="OrderId" />
            <div class="header-wrapp"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field">
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId" readonly ></select>
                <label asp-for="ClientId" class="control-label"></label>
            </div>
            <div class="input-field">
                <select asp-for="Empid" class="form-control" asp-items="ViewBag.Empid" readonly></select>
                <label asp-for="Empid" class="control-label"></label>
            </div>
            <div class="input-field">
                <select asp-for="TypeJobId" class="form-control" asp-items="ViewBag.TypeJobId" readonly></select>
                <label asp-for="TypeJobId" class="control-label"></label>
            </div>
            <div class="input-field">
                <input asp-for="Accepted" class="form-control" type="date" readonly />
                <label asp-for="Accepted" class="control-label"></label>
            </div>
            <div class="input-field submit-btn">
                <input type="submit" value="Завершить заказ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
}
